html,body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
}

.left {
	width: 21.3%;
}

.right {
	width: 79%;
}

.right > h1 {
	font-size: 2.6rem;
    font-weight: 400;
    text-align: center;
    padding: 40px 0 18px 0;
}

.header {
	width: 100%;
}
.header > img {
	width: 100%;
	display: block;
}

ul.list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

a.list__item--link {
    font-size: 1.4rem;
    padding: 0 20px;
    color: #111;
}

.list__item {
    border-right: 1px solid #c5b9b9;
	
}

.list__item:last-child {
	border: none;
}

.product {
	width: 94%;
	margin: 0 auto;
}
/* CSS menu  */
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.8rem;
	padding: 40px 0 26px 0;
	border-bottom: 1px solid #ccc;
	z-index: 10;
}


.menu__left {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__left--icon {

}

.menu__left--text {
	margin-left: 10px;
}

.menu__right {

}

.menu__right--text {

}
.menu__right--icon1 {
	margin: 0 1px 0 4px;
}
.menu__right--icon2 {
	margin-right: 16px;
}

.menu__right--text-border {
	color: #555;
	font-weight: 200;
	padding: 6px 80px 6px 4px;
	border: 1px solid #ccc;
}

img {
	display: block;
	border: 0;
    max-width: 100%;
}

.img-hover  > img {
	height: 100%;
    width: 100%;
    object-fit: scale-down;
     transform: scale(1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
   
}

.hover {
	position: relative;
}
.img-hover {
	overflow: hidden;
	position: relative;
	z-index: 999;
	padding-bottom: 40px;
}
.hover:hover .img-hover > img{
	transform: scale(1.1);
	cursor: pointer;
}

.hover:hover .img-hover > img ~ div{
	bottom: 20px;
}


.hidden > .col {
	overflow:  hidden;
}

.img-hover--text {
	text-align: center;
	font-size:  1.4rem;
	padding: 0 0 30px 0;
	display: block;
}	

.img-hover > div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	bottom: -100px;
	padding-top: -35px; 
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.btn1{
	padding: 8px 10px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	font-size: 1.3rem;
	  text-transform: uppercase;
	  letter-spacing: 2.5px;
	  font-weight: 500;
	  color: #000;
	  background-color: #fff;
	  border: none;
	  border-radius: 45px;
	  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	  transition: all 0.3s ease 0s;
	  cursor: pointer;
	  outline: none;
}

.btn-edit {
	
}

.btn-delete  {

}

.btn1:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);

}

/* navabr */
.nav {
	position: fixed;
	width: 21%;
	background-color: rgba(204, 204, 204, .5);
	left: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.nav-logo {
	display: flex;
	justify-content: center;
}

.nav-logo > img {
	height: 100px;
	width: 100px;
}

.nav-header__list {
	    display: flex;
    justify-content: center;
    list-style: none;
    margin: 40px 0 20px 0;
}

.nav-header__list--item:last-child {
	position: relative;
}
.nav-header__list--item:last-child > span {
	position: absolute;
	top: -19px;
	right: -4px;
	display: block;
	width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-style: normal;
    color: #fff;
    font-weight: 700;
    text-transform: none;
    background: #000;
    border-radius: 50%;
    font-size: 12px;
    vertical-align: top;	 
}
.nav-header__list--item > i {
	font-size: 2.4rem;
	color: #333;
	font-weight: 200;
	padding: 0 8px;
}

.nav-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: .2em;
	font-size: 1.3rem;
	color: #7d7d7d;
	font-weight: 700;
}

.nav-content > a {
	color: inherit;
	padding: 15px 0;
}
.nav-content > a:hover {
	text-decoration: none;
}

.nav-content > span { 
	margin-top: 14px;
}

.nav-content__list {
	list-style: none;
	padding: 8px 0 8px 60px;
}

.nav-content__list--item {
	margin: 10px 0;
	cursor: pointer;
}

.nav-content__list--item > a{
	color: #7d7d7d;
}
.name {
	text-align: center;
	margin: 20px  0 20px 0;
}
.name-header {
	display: flex;
	flex-direction: column;
}

.name-header > div > span {
	font-weight: 500;
	font-size: 2rem;
	font-style: italic;
}

.name-header > div:first-child > span {
	line-height: 0;
	margin-right: 40px;
}

.name-header > div:last-child > span{
	line-height: 0;
	margin-left: 40px;
}

.name-header > div:nth-child(2) > span{
	line-height: 0;
}

.name-header > div:nth-child(2) {
	padding: 6px 0;

}



a {
	text-decoration: none;
}

.header-home {
	margin-bottom: 30px;
}
.margin {
	margin-bottom: 30px;
}


.height {
	height: 260.5px;

}

.danhmuc {
    background: #f3f3f3;
    height: 90%;
    width: 100%;
    position: relative;
    border-radius:6px;
    cursor: pointer; 
    display: block;
}
img {
	cursor: pointer;
}
.left50 {
	width: 50%;
    margin-right: 22px;
}
.right50 {
	width: 50%;
}

.product-bottom {
	display: flex;
}

.danhmuc > a{
	font-size: 1.4rem;
	position: absolute;
	color: #404040;
	font-weight: 500;
	font-family: Quicksand,sans-serif;
}

.danhmuc > a:last-child{
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	border-top: 1px solid #c5f0a5;
	border-bottom: 1px solid #c5f0a5; 
	padding: 3.5px 1.5px;
	font-style: italic;

}

.danhmuc > a:first-child{
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.danhmuc > a > span {
	border: 1px solid;
	padding: 60px;
	border-radius: 50%; 
	font-size: 1.4rem;
}

.pink {
	background-color: rgba(255, 153, 153, .7);
}
.pink2 {
	background-color: rgba(255, 153, 204, .7);
}

.pink3 {
	background-color: rgba(51, 153, 204, .7);
}
.pink4 {
	background-color: rgba(51, 153, 153, .7);
}

.link-active {
	text-decoration: underline;
}

.form1 {
	width: 100%;
	height: 88vh;
	background-color: rgba(255, 192, 203);
	
}

.form2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.vh {
	height: 12vh;
}


.form-file {
    height: 23px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="file"] {
    cursor: pointer;

}
.form-file:active {
	outline: 0;
}

.headerr {
	display: flex;
	padding: 20px 0 0 40px;
	margin-bottom: 100px;
	color: 	#CC66CC;
}
.headerr > h1 {
}

.headerr > i {
	font-size: 2.6rem;
	margin-right: 6px;
}

.anh,.gia {
	display: flex;
	justify-content: space-between;
	width: 350px;
}

.gia > input {
	width: 193px;
}

.gia {
	margin-top: 4px;
}

label {
	width: 120px;
	font-size: 1.4rem;
}

.form2 > button {
	margin-top: 20px;
}

nav.pagination--absolute {
	font-size: 2rem;
	margin-top: 20px;
    border-top: 1px solid;
} 

.nav-content > a:last-child {
    padding: 5px 0;
}